/* Default stijl van hele site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Stijl/opmaak van de Body */
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* hier beginnen de code's voor de Header (1-3) opmaak */
h1 { 
font-family: 'Times New Roman', Times, serif;
text-transform: uppercase;
margin: 4rem;
text-align: center;
color: white;
font-style: italic;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
}

h2 a:visited {
  color: white;
}

h3 {
  margin: 3rem 1rem 1rem 1rem;
}

/* Link opmaak binnen de hele site */
ul li a {
  color: white;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: #ff8c00;
  transition-duration: 500ms;
}

/* section code */
section img { 
  height: 20%;
  width: 30%;
  margin-bottom: 0.5rem;
  align-content: center;
}

section p {
  margin: 1rem;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 1rem;
}

/* Linkjes binnen de article tag */
article li { 
  margin: 0rem 1rem 0rem 1rem;
}

/* Paragraaf opmaak */
article p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 1.5rem 1rem 1.5rem 1rem;
}

/* Nav/menu opmaak */

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  background-color: black;
  border-bottom: 0.1rem solid white;
}

nav img { 
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  padding-left: 1.8rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.05rem;
  margin: 1.2rem;
}

nav a:hover {
  color: #ff8c00;
}

nav a:visited {
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 6rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 19px;
  font-family: arial;
  color: white;
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 500ms;
}

/* Afbeelding opmaak, ook van verschillende children/parents */

img {
  margin: 1rem;
}

/* Border van de video's */
iframe {
  display: block;
  border: none;
  margin: auto;
  display: block;
  text-align: center;
  width: 33rem;
  height: 20rem;
}

/* Flexboxen voor de tekst en kopjes naast een plaatje */
.wrapped {
  display: flex;
  align-items: center;
  margin: 1.8rem 11rem 0rem 11rem;
}  

.wrapped img {
  float: left;
  width: 90%;
  height: 90%;
}

/* audio opmaak van de playlist */
article figure {
 columns: 4;
 margin: 0.5rem;
}

/* Back to top knop */
.topknop {
  position: relative;
  animation: jump 3s linear infinite;
}

.topknop img {
  height: 5%;
  width: 5%;
}

/* Keyframes voor animatie */
@keyframes jump { 

}

/* Hier begint de footer */
footer {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid white;
  padding: 1.7rem;
  margin-top: 2.3rem;
  text-align: center;
}

footer img {
  height: 70%;
  width: 20%;
}

/* Code voor de knop binnen de footer */
.knop {
  background-color:black;
  color: white;
  padding: 0.5rem;
  border: solid white;
  border-width: 0.1rem;
  margin-bottom: 1.2rem;
}

.knop:hover {
  background-color: lightblue;
  background-opacity: 0.05;
  transition: 1s;
  border-color: orange;
  border-inline-width: 0.3rem;
}

.knop a:visited{
  color:orange;
}

